.cases {
  padding: 106px 0px 140px 0px;

  @media (max-width:768px) {
    padding: 50px 0px 0px 0px;
  }

  // .cases__body
  &__body {
    padding: 0px 10px 0px 10px;
  }

  // .cases__title
  &__title {
    margin: 0px 0px 50px 0px;
  }

  // .cases__item--wrap
  &__item--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 40px 0px;

    @media (max-width:992px) {
      flex-direction: column;
    }
  }
}

.item {

  // .item__img
  &__img {
    padding: 0px 0px 32% 0px;
    position: relative;
    overflow: hidden;
    cursor: default;
    flex: 0 1 53%;
    border-radius: 15px;

    @media (max-width:992px) {
      margin: 0px 0px 40px 0px;
      width: 60%;
    }

    @media (max-width:576px) {
      width: 100%;
      padding: 0px 0px 60% 0px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // .item__mask
  &__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(50, 83, 245, 0.8);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // .item__arrow
  &__arrow {
    width: 48px;
    height: 48px;
    margin: 0px 0px 16px 0px;
    background: url('../img/cases-arrow.png') center no-repeat;
  }

  // .item__btn
  &__btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  // .item__descr
  &__descr {
    text-align: left;
    margin: 0px 0px 0px 20px;
    flex: 0 1 40%;

    @media (max-width:576px) {
      margin: 0;
      width: 100%;
    }
  }

  // .item__title
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin: 0px 0px 25px 0px;
  }

  // .item__text
  &__text {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
  }

  // .item__text--left
  &__text--left {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #3454F5;
    background: #EFF7FF;
    border-radius: 5px;
    padding: 14px 26px;

  }

  // .item__text--right
  &__text--right {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 0px 15px;

    @media (max-width:576px) {
      font-size: 14px;
    }
  }
}

.view .item__mask {
  opacity: 0;
  transition: all 0.4s ease 0s;
}

@media (max-width:576px) {
  .view .item__mask {
    opacity: 1;
  }

  .view .item__arrow {
    transform: translateY(0px);
    opacity: 1;
  }

  .view .item__btn {
    opacity: 1;
  }
}

.view .item__arrow {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.3s ease 0s;
}


.view .item__btn {
  opacity: 0;
  transition: all 0.3s ease 0s;
}


.view:hover .item__mask,
.view:hover .item__btn {
  opacity: 1;
}

.view:hover .item__arrow {
  opacity: 1;
  transform: translateY(0px);
}