.footer {
  background: #2e3646;
  padding: 80px 0px;

  @media (max-width: 576px) {
    padding: 40px 0px 40px 0px;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
  }

  &__logo {
    margin: 0px 0px 80px 10px;

    @media (max-width: 576px) {
      @media (max-width: 576px) {
        margin: 0px 0px 40px 0px;
      }
    }
  }

  &__item {
    flex: 0 1 25%;

    @media (max-width: 992px) {
      flex: 0 1 50%;
      margin: 0px 0px 40px 0px;
    }

    @media (max-width: 576px) {
      flex: 0 1 100%;
    }

    &--social {
      display: flex;
    }

    &--title {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
      margin: 0px 0px 16px 0px;
    }

    &--text {
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      margin: 0px 0px 12px 0px;
    }
  }
}

.mail {
  background: url("../img/footer-mail.png") center left no-repeat;
  padding: 0px 0px 0px 32px;

  & > a {
    color: #ffffff;
  }
}

.phone {
  background: url("../img/footer-phone.png") center left no-repeat;
  padding: 0px 0px 0px 32px;

  & > a {
    color: #ffffff;
  }
}

.item {
  &__box {
    margin: 0px 16px 0px 0px;
  }
}
