/* Стили мобильного меню */

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;

   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 2;
   }

   &__container {
      margin: 0px auto;
      padding: 0px 10px;
   }

   &__menu {
      flex: 1 0 auto;
      z-index: 2;
   }

   &__body {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;
   }

   &__logo {
      flex: 0 0 135px;
      height: 43px;
      overflow: hidden;
      position: relative;
      z-index: 3;

      @media(max-width: 992px) {
         flex: 0 0 110px;
      }

      & img {
         max-width: 100%;
         display: block;
      }
   }

   &__burger {
      display: none;
   }

   &__list {
      display: flex;
      justify-content: center;
      z-index: 2;

      & li {
         margin: 0px 0px 0px 5%;

         @media (max-width:992px) {
            margin: 0px 0px 0px 3%;
         }

         &:first-child {
            margin: 0px 0px 0px 0px;
         }
      }
   }

   &__link {
      color: $BodyColor;
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.100962px;
      position: relative;
      transition: all 0.6s;

      @media (max-width:992px) {
         font-size: 15px;
      }

      &:before {
         content: "";
         width: 0;
         height: 0.1em;
         position: absolute;
         bottom: -2px;
         left: 50%;
         background: #3454F5;
         transition: all 0.3s;
      }

      &:hover {
         &:before {
            width: 100%;
            left: 0;
            background: #3454F5;
         }
      }
   }

   &__button {
      color: #333333;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      padding: 12px 40px;
      border: 2px solid #333333;
      border-radius: 5px;
      transition: all 0.3s;
      z-index: 3;

      @media (max-width:992px) {
         padding: 8px 15px;
      }

      &:hover {
         background-color: #3454f5;
         color: #ffffff;
         border: 2px solid #3454f5;
      }
   }
}



@media (max-width:767px) {
   body.lock {
      overflow: hidden;
   }

   .header {
      &__body {
         height: 50px;
      }


      &__logo {
         flex: 0 0 115px;
      }

      &__burger {
         display: block;
         position: relative;
         width: 30px;
         height: 20px;
         position: relative;
         z-index: 3;

         & span {
            position: absolute;
            background-color: $BodyColor;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
         }
      }

      &__burger:before,
      &__burger:after {
         content: '';
         background-color: $BodyColor;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease 0s;
      }

      &__burger:before {
         top: 0;
      }

      &__burger:after {
         bottom: 0;
      }

      &__burger {
         &.active {
            & span {
               transform: scale(0);
            }
         }
      }


      &__burger {
         &.active {
            &:before {
               transform: rotate(45deg);
               top: 9px;
            }
         }
      }

      &__burger {
         &.active {
            &:after {
               transform: rotate(-45deg);
               bottom: 9px;
            }
         }
      }

      &__menu {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         transition: all 0.3s ease 0s;
         background-color: #7de0d2;
         padding: 70px 10px 20px 10px;
      }

      &__menu {
         &.active {
            top: 0;
         }
      }

      &__list {
         display: block;
         margin: 0px 0px 30px 0px;
      }

      &__list {
         & li {
            margin: 0px 0px 20px 0px;

            &:first-child {
               margin: 0px 0px 20px 0px;
            }
         }
      }

      &__link {
         font-size: 24px;
      }

      &__button {
         padding: 15px 35px;
      }
   }
}