.our-offer {
  padding: 155px 0px 172px 0px;

  @media (max-width: 992px) {
    padding: 60px 0px 100px 0px;
  }

  // .our-offer__body
  &__body {
    margin: 0px 10px;
  }

  // .our-offer__title
  &__title {
    max-width: 435px;
    font-size: 40px;
    margin: 0px 0px 50px 0px;

    @media (max-width: 992px) {
      margin: 0px auto 50px auto;
    }
  }

  // .our-offer__block
  &__block {
    margin: 0px 0px 142px 0px;

    @media (max-width: 992px) {
      margin: 0px 0px 40px 0px;
    }
  }
}

.block {

  // .block__body
  &__body {
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  // .block__item--box
  &__item--box {
    max-width: 440px;
    height: 477px;
    border-radius: 20px;
    border: 5px solid #3a3a3a;
    background-color: #ffffff;
    box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15);
    padding: 11px 20px;
    flex: 0 1 100%;
    display: grid;
    place-items: center;

    @media (max-width: 992px) {
      width: 440px;
      min-height: 477px;
      margin: 0px auto 40px auto;
    }

    @media (max-width:576px) {
      width: 300px;
      min-height: 326px;

    }
  }

  // .block__portal
  &__portal {
    &--icon {
      width: 179px;
      height: 57px;
    }
  }

  // .block__item--text
  &__item--text {
    max-width: 470px;
    margin: 0px 0px 0px 81px;

    @media (max-width: 992px) {
      margin: 0 auto;
      text-align: left;
    }
  }

  // .block__item--title
  &__item--title {
    margin: 0px 0px 15px 0px;

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  // .block__item--paragraf
  &__item--paragraf {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 0px 45px 0px;

    @media (max-width: 992px) {
      margin: 0px 0px 15px 0px;
    }
  }

  // .block__catalog
  &__catalog {}

  // .block__catalog--content
  &__catalog--content {}

  // .block__integration
  &__integration {}

  // .block__integration--icon-1
  &__integration--icon-1 {}

  // .block__integration--icon-2
  &__integration--icon-2 {}

  // .block__integration--icon-3
  &__integration--icon-3 {}

  // .block__integration--icon-4
  &__integration--icon-4 {}

  // .block__integration--icon-5
  &__integration--icon-5 {}

  // .block__integration--icon-6
  &__integration--icon-6 {}

  // .block__integration--icon-7
  &__integration--icon-7 {}

  // .block__integration--icon-8
  &__integration--icon-8 {}

  // .block__item--info
  &__item--info {
    position: relative;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 0px 0px 0px 15px;

    &::before {
      content: "+";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.not {
  &::before {
    content: "-";
    position: absolute;
    top: 0;
    left: 0;
    color: #e46868;
  }

  // .not__text
  &__text {
    color: #e46868;
  }
}