$BodyFamily: Gilroy,
sans-serif;
$BodyWeight: 400;
$BodyColor: #333333;
$BodyFont: 18px;

.btn {
   border-radius: 5px;
   background-color: #3454f5;
   color: #ffffff;
   font-family: Gilroy;
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   padding: 24px 0px;
   width: 100%;
}

.section {
   &-title {
      font-family: Gilroy;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
   }
}

.item {
   &-title {
      font-family: Gilroy;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
   }
}

.block {
   &__item--title {
      font-family: Gilroy;
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
   }
}